body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
  margin: 20 px;
  background-color: #fff9f5;
  word-spacing: 1px;
  letter-spacing: 0.1px;
}

h1,
h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

section {
  margin-bottom: 40px;
  padding: 10px;
  background-color: #ffe0cc;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #b34700;
}
